<div class="mdl-layout-transparent mdl-js-layout">
    <header class="mdl-layout__header--transparent">
        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title" style="color: white;">Flickake</span>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Flickake</span>
        <nav class="mdl-navigation">
            <%= link_to "Scan", '/movies' , method: :put, class: "mdl-navigation__link" %>
        </nav>
    </div>
    <main class="mdl-layout__content movie-container">
        <div class="mdl-grid center-items">
            <% @list.each_with_index do |m| %>
                <% url =  '/movies/' + m[:id].to_s %>
                <% thumburl =  url + '/thumb' %>
                <div class="mdl-cell movie-cell">
                    <%= link_to(url,  data: {"turbolinks" => false}) do %>
                        <div class="mdl-card movie-card" style="background-image: url(<%= thumburl %>);">
                            <div class="mdl-card__title mdl-card--expand"></div>
                            <div class="mdl-card__actions">
                                <span class="movie-card__filename"><%= m[:title] %></span>
                            </div>
                        </div>
                    <% end %>
                </div>
            <% end %>
            <% 2.times do %>
                <div class="mdl-cell movie-cell"></div>
            <% end %>

        </div>
    </main>
</div>
