<%= javascript_pack_tag 'show_video' %>
<div id='video'>
    <flick :sources="[{
                     src: '<%= '/static/' + @movie.id.to_s %>',
                     type: 'video/mp4'
                     }]"
           :options="{
                     autoplay: true,
                     title: '<%= @movie.title %>',
                     }" >
    </flick>
</div>
